body {
    padding-top: 60px;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    }
    
    ::-webkit-scrollbar {
    width: 0px;
    }
    
    .navbar {
    background-color: #041C32;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    }
    
    .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    }
    
    .navbar-brand:hover {
    color: #fff;
    }
    
    .navbar-links {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    }
    
    .navbar-links li {
    display: inline;
    }
    
    .navbar-links a {
    text-decoration: none;
    color: #f2f2f2;
    }
    
    /* CSS untuk kolom pencarian */
    .navbar-search-input {
    width: 25vw;
    padding: 5px;
    border: none;
    background-color: #fff;
    color: black;
    transition: width 0.3s;
    border-radius: 10px;
    text-align: center;
    }
    
    .navbar-search-input:focus {
    width: 26vw;
    }
    
    .navbar-dropdown {
    position: relative;
    }
    
    .navbar-dropdown-content {
    display: none;
    position: absolute;
    background-color: #041C32;
    min-width: 100px;
    z-index: 1;
    }
    
    .navbar-dropdown:hover .navbar-dropdown-content {
    display: block;
    }
    
    .navbar-dropdown-content a {
    padding: 10px;
    display: block;
    }
    
    .navbar-dropdown-btn {
    display: none;
    }
    
    .dropdown-lg {
    display: none;
    }
    
    .dd-list {
    transition: 0.2s;
    }
    
    .dd-list:hover {
    background-color: rgba(0, 0, 0, 0.2);
    }
    
    /* CSS untuk Kategori Horizontal */
    .category-list-horizontal {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    }
    
    .category-list-horizontal li {
    flex: 0 0 calc(33.333% - 20px); /* 3 gambar per baris dengan jarak 20px */
    text-align: center;
    margin-bottom: 20px;
    }
    
    .category-list-horizontal img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    width: 300px; /* Lebar gambar yang sama untuk semua gambar */
    height: 200px; /* Tinggi gambar yang sama untuk semua gambar */
    }
    @media only screen and (width <=1125px) {
    .navbar-search-input {
    width: 45vw;
    padding: 5px;
    border: none;
    background-color: #fff;
    color: black;
    transition: width 0.3s;
    border-radius: 10px;
    text-align: center;
    margin-left: -20px;
    }
    
    .navbar-search-input:focus {
    width: 50vw;
    }
    
    .navbar-links {
    display: none;
    }
    
    
    .navbar-dropdown-btn {
    display: block;
    }
    
    }
    
    @media only screen and (width > 1125px) {
    
    .dropdown-lg {
    display: none;
    }
    }
    
    @media only screen and (width <=900px) {
    
    .navbar-brand {
    display: none;
    }
    }    