body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
    
    .container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    }
    
    .form-container {
    position: relative;
    transition: transform 0.3s ease-in-out;
    }
    
    .form {
    padding: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    }
    
    .form h2 {
    margin-bottom: 20px;
    }
    
    .form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    }
    
    .form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    }
    
    .toggle {
    display: flex;
    justify-content: space-between;
    background-color: #007BFF;
    }
    
    .toggle button {
    flex: 1;
    padding: 10px;
    border: none;
    color: black;
    cursor: pointer;
    }
    
    .toggle button.active {
    background-color: #0056b3;
    }
    